@import url("../../assets/form.css");

.loginDiv {
    text-align: center;
}

#login {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #54C3FF;
    color: #fff;
    border-radius: 5px;  
    margin: 10px auto;  
    padding: 3px;
}

#login:hover {
    background-color: #3EABE6;
}

.mainTitle {
    margin: 0 auto;
}

.yearTitle {
    color: red;
    font-style: italic;
}

.title {
    font-size : 95px;
    font-weight: bold;
    font-family: "Roboto";
}

.allTitle {
    text-align: center;
    top: 15%;
    transform: translateY(50%);
}

.all {
    margin-top: 0px;
}

