@import url("../../assets/form.css");

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #2e2e2e;
    z-index: 100;
}

#login {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #54C3FF;
    color: #fff;
    border-radius: 5px;  
    margin: 10px auto;  
    padding: 3px;
}

#login:hover {
    background-color: #3EABE6;
}

.buttons {
    margin-top: 8px;
    margin-right: 40px;
    text-align: right;
}

button {
    margin: 10px !important;
}

span {
    position: absolute;
    vertical-align: middle;
    margin: 10px !important;
    left: 120px;
    font-size: 34px;
    font-weight: bold;
}

span.year {
    position: absolute;
    vertical-align: middle;
    margin: 10px !important;
    left: 220px;
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.profileBtn {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #54C3FF;
    color: #fff;
    border-radius: 5px;
    margin: 10px auto;  
    padding: 3px;
}

.profileBtn:hover {
    background-color: #3EABE6;
}

.rankings {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: gold;
    color: #fff;
    border-radius: 5px;
    margin: 10px auto;  
    padding: 3px;
}

.rankings:hover {
    background-color: #FFC118;
}

.deconnexion {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #DA3737;
    color: #fff;
    border-radius: 5px;
    margin: 10px auto;  
    padding: 3px;
}

.deconnexion:hover {
    background-color: #D11C1C;
}

.mapsBtn {
    font-size: 24px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #630948;
    color: #fff;
    border-radius: 5px;
    margin: 10px auto;  
    padding: 3px;
}

.mapsBtn:hover {
    background-color: #4D0738;
}