<div class="container">
  <form [formGroup]="signupForm">
    <div class="field">
      <label for="username">Nom d'usager </label>
      <input class="control-form" type="text" id="username" formControlName="username" [(ngModel)]="user.username" [ngClass]="{'invalidField': formErrors.username}">
      <div *ngIf="formErrors.username" class="errorMsg">
        {{ formErrors.username }}
      </div>
    </div>
    <div class="form-group" formGroupName="passwords">
      <div class="field">
        <label for="password">Mot de passe </label>
        <input class="control-form" type="password" id="password" formControlName="password" [(ngModel)]="user.password" [ngClass]="{'invalidField': formErrors.passwords.password || (signupForm.get('passwords').touched && signupForm.get('passwords').hasError('noMatch'))}">
        <div *ngIf="formErrors.passwords.password" class="errorMsg">
          {{ formErrors.passwords.password }}
        </div>
      </div>
      <div class="field">
        <label for="passwordConfirm">Confirmation mot de passe </label>
        <input class="control-form" type="password" id="passwordConfirm" formControlName="passwordConfirm" [ngClass]="{'invalidField': formErrors.passwords.passwordConfirm || (signupForm.get('passwords').touched && signupForm.get('passwords').hasError('noMatch'))}">
        <div *ngIf="formErrors.passwords.passwordConfirm" class="errorMsg">
          {{ formErrors.passwords.passwordConfirm }}
        </div>
        <div *ngIf="signupForm.get('passwords').touched && signupForm.get('passwords').hasError('noMatch')" class="errorMsg">
          {{ validationMessages.passwordConfirm.noMatch }}
        </div>
      </div>
    </div>
    <div class="signupDiv">
      <button class="signUp" [ngClass]="{'buttonInvalid': !signupForm.valid}" [disabled]="!signupForm.valid" (click)="signup()">CRÉER COMPTE</button>
    </div>
  </form>
</div>