<div class="mapTitle">
  CARTE
</div>

<div class="mapContainer">
  <div class="mapImgAndTitle">
    <div style="position: relative; left: 0; top: 0; width: 560px; height: 330px;">
      <img  [src]="imageSafe" style="position: absolute; top: 0px; left: 0px; width: inherit; height: inherit;"/>
    </div>
    <div class="title">
        {{ map?.Name }}
    </div>
  </div>
  <div class="mapInfo">
      <div>
          <h2>Créateur</h2>
          <h3>{{ map?.Creator || "..."}}</h3>
        </div>
        <div>
          <h2>Date de création</h2>
          <h3>{{ (map?.CreationDate | date:'medium') || "..."}}</h3>
        </div>
        <div>
          <h2>Date de la dernière modification</h2>
          <h3>{{ (map?.LastBackup | date:'medium') || "..."}}</h3>
        </div>
        <div>
          <h2>Status</h2>
          <h3>{{ map?.Private? "Privée" : "Publique" }}</h3>
        </div>
  </div>
</div>

