<div class="mapTitle">
  CARTE
</div>

<div class="mapContainer">
  <div class="mapImgAndTitle">
    <div class="map">
      
    </div>
    <div class="title">
      Map Name
    </div>
  </div>
  <div class="mapInfo">
      <div>
          <h2>Créateur</h2>
          <h3>Bobbbbbbby</h3>
        </div>
        <div>
          <h2>Date de création</h2>
          <h3>Today</h3>
        </div>
        <div>
          <h2>Date de la dernière modification</h2>
          <h3>Not today</h3>
        </div>
        <div>
          <h2>Status</h2>
          <h3>Publique</h3>
        </div>
  </div>
</div>

